.image-border {
    border: 2px solid #bd0000 !important;
}

.image-no-border {
    border: 1px solid #E0E0E0 !important;
}

.selected-size {
    color: #fff !important;
    background: #bd0000 !important;
}