.search-wrapper .search-title {
  color: #4f525d;
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  //margin-bottom: -50px;
  margin-top: 20px;
  margin-left:30px;
}

.search-wrapper .search-result {
  margin-left: -30px;
  margin-right: 30px;
}

.collection {
  background-color: #f5f5f5;
  margin-top: 25px;
  padding: 0px !important;
}

.search-page {
  background-color: #f5f5f5;
}
