<<<<<<< HEAD
.category-dialog-btn-close {
    position: absolute;
    right: 0;
    top:0;
    padding: 20px;
    font-size: 10px;
}


.pointer-cursor {
    cursor: pointer; /* Thiết lập biểu tượng ngón tay */
}

.btn-add {
    font-size: 16px;
    color: #7F7F7F;
}

=======
.category-dialog-btn-close {
    position: absolute;
    right: 0;
    top:0;
    padding: 20px;
    font-size: 10px;
}


.pointer-cursor {
    cursor: pointer; /* Thiết lập biểu tượng ngón tay */
}

.btn-add {
    font-size: 16px;
    color: #7F7F7F;
}

.input-category {
    height: 100%;
    color: #333;
    caret-color: rgb(200, 29, 49);
    border: 0;
    border-bottom: 1px solid #CFCFCF;
}

>>>>>>> refs/remotes/origin/main
