.category-title {
    color: #bd0000;
    font-size: 23px;
    font-weight: 800;
    margin-bottom: 0;
    padding: 15px 5px 20px;
}

.category-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    border-top: 2px solid #E4E4E4;
    padding: 0 25px 0;
    background-color:#FAFAFA;
}

.selected-category-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 0 25px 0;
    background-color:#a30000;
}

.btn-category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    font-size: 20px;
    color: #9D9D9D;
    border-radius: 100px;
    border: 2px #E4E4E4 solid;
}

.btn-category:hover {
    background-color: #E4E4E4;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #D46060;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);

    transform-origin: bottom left;
}

.selected-btn-category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 40px;
    font-size: 20px;
    color: #E4E4E4;
    border-radius: 100px;
    border: 2px #E4E4E4 solid;
}

.selected-btn-category:hover {
    background-color: #E4E4E4;
    color: #ac0000;
}

//@keyframes slideToTop {
//    from {
//        transform: translateY(-100%);
//    }
//    to {
//        transform: translateY(0);
//    }
//}

.subCategory-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    width: 100%;
    height: 90px;
    padding: 0 25px 0 20px;
}

.subCategory-field:hover {
    border-left: 5px solid #ac0000;
    background: white;
    padding: 0 25px 0 15px;
}

.search-subCategory-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    width: 100%;
    height: 90px;
    padding: 0 25px 0 10px;
}

.search-subCategory-field:hover {
    border-left: 5px solid #ac0000;
    background: white;
    padding: 0 25px 0 5px;
}

.product-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    width: 100%;
    height: 90px;
    padding: 0 25px 0 20px;
}

.product-field:hover {
    border-left: 5px solid #ac0000;
    background: white;
    padding: 0 25px 0 15px;
}

.search-product-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    width: 100%;
    height: 90px;
    padding: 0 25px 0 10px;
}

.search-product-field:hover {
    border-left: 5px solid #ac0000;
    background: white;
    padding: 0 25px 0 5px;
}

.img-subCategory {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    -o-object-fit: cover;
    object-fit: cover;
}

.select-search {
    background-position: right 6px;
    background-size: 10px 10px;
    background-color: #FAFAFA;
    border: none;
    color: #4f525d;
    font-size: 16px;
    padding: 0 10px 0 10px;
    width: max-content;
    display: block;
}

.select-search:focus {
    box-shadow: none
}

.placeholder-color::placeholder {
    color: #C05050;
}