.cancel-order {
  align-items: center;
  background: #fceaec;
  border: 1px solid #fbced3;
  border-radius: 4px;
  color: #bd0000;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 14px;
  margin-left: 10px;
  padding: 2px 4px;
  width: -moz-max-content;
  width: max-content
}