:where(.css-dev-only-do-not-override-2i2tap).ant-picker .ant-picker-input >input:hover {
    border-color: #B7B7B7;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker .ant-picker-input >input:focus, :where(.css-dev-only-do-not-override-2i2tap).ant-picker .ant-picker-input >input:focus-within {
    border-color: #E5E5E5;
    box-shadow: 0 0 0 0px #B7B7B7;
    outline: 0;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker-focused.ant-picker {
    border-color: #E5E5E5;
    box-shadow: 0 0 0 0px #B7B7B7;
    outline: 0;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker-range .ant-picker-active-bar {
    bottom: -1px;
    height: 2px;
    margin-inline-start: 11px;
    background: #BD0000;
    opacity: 0;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker:hover {
    border-color: #B7B7B7;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker .ant-picker-input >input {
    border-color: #E5E5E5;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker {
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker-large .ant-picker-input>input {
    font-size: 14px;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker-large .ant-picker-input>input::placeholder {
    color: #B7B7B7;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker-large {
    padding: 8.5px 11px 8.5px;
}