.product-list {
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Hiển thị 4 sản phẩm trên mỗi dòng */
    row-gap: 30px; /* Khoảng cách giữa các sản phẩm */

}

.collection {
    padding: 30px;
}