@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap);
.header {
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    left: 0;
    top: 0;
    transition: all 0.3s;
    width: 100%;
    z-index: 100;
}
.header.header-hide {
    transform: translateY(-100%);
}
.header .wrap-container {
    background: #fff;
    background-size: 100% 100%;
}
.header .wrap-container .wrap-content {
    font-style: normal;
}
.header .wrap-container .wrap-content .content-left .logo-box {
    margin-right: 117px;
    padding: 25px 0;
}
.header .wrap-container .wrap-content .content-left .logo-box .logo {
    height: 30px;
    width: 140px;
}
.header .wrap-container .wrap-content .content-left .menu-header {
    margin-right: 65px;
}
.header .wrap-container .wrap-content .content-left .menu-header:last-child {
    margin-right: 0;
}
.header
.wrap-container
.wrap-content
.content-left
.menu-header
.menu-header-text {
    color: #232734;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
}
.header
.wrap-container
.wrap-content
.content-left
.menu-header
.menu-header-text:hover {
    color: #bd0000;
}
.header
.wrap-container
.wrap-content
.content-left
.menu-header
.menu-header-text
img {
    height: 12px;
    right: -16px;
    width: 12px;
}
.header .wrap-container .wrap-content .content-left .menu-header .active {
    color: #bd0000;
}
.header .wrap-container .wrap-content .content-right .search-box {
    height: 30px;
    margin: 25px 0;
    width: 220px;
}
.header .wrap-container .wrap-content .content-right .search-box input {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    color: #7b7d85;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 7px 9px;
}
.header .wrap-container .wrap-content .content-right .search-box input:focus,
.header
.wrap-container
.wrap-content
.content-right
.search-box
input:focus-within,
.header .wrap-container .wrap-content .content-right .search-box input:target {
    border-color: #bd0000;
    box-shadow: none;
}
.header .wrap-container .wrap-content .content-right .search-box .btn-search {
    border-radius: 30px;
    padding: 10px;
    right: 0;
    top: 0;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.btn-search
img {
    height: 10px;
    width: 10px;
}
.header .wrap-container .wrap-content .content-right .search-box .result-box {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    min-height: 50px;
    right: -124px;
    top: 50px;
    width: 400px;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.item-search {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.item-search
.product-image {
    margin-right: 5px;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.item-search
.product-image
img {
    aspect-ratio: 1/1;
    width: 70px;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.item-search
.product-info
.product-name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    word-break: break-word;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.item-search
.product-info
.product-price
.sale-price {
    color: #bd0000;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    margin-right: 12px;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.item-search
.product-info
.product-price
.origin-price {
    color: #7b7d85;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    text-decoration-line: line-through;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.nothing {
    background: #fff;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    height: 50px;
    text-align: center;
    width: 100%;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.view_all_search {
    background: #fff;
    padding: 5px;
    text-align: center;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.view_all_search
a {
    color: #4f525d;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-decoration: none;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.view_all_search
a:hover {
    color: #bd0000;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.loading {
    align-items: center;
    background: #fff;
    height: 50px;
    justify-content: center;
    width: 100%;
}
.header
.wrap-container
.wrap-content
.content-right
.search-box
.result-box
.loading
.icon-loading {
    color: #4f525d;
    display: block;
    margin: 0;
}
.header .wrap-container .wrap-content .content-right .header-tool {
    width: 80px;
}
.header .wrap-container .wrap-content .content-right .header-tool > * {
    display: inline-block;
    font-size: 14px;
    position: relative;
    vertical-align: top;
}
.header .wrap-container .wrap-content .content-right .header-tool .cart-drop {
    padding-left: 20px;
    width: 42px;
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.cart-drop
.count_item_pr {
    background: #bd0000;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    padding: 0 8px;
    right: -7px;
    top: -3px;
    width: 15px;
}
.header .wrap-container .wrap-content .content-right .header-tool .user-drop {
    padding-left: 20px;
    width: calc(100% - 42px);
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.user-drop
.account_header {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 15px;
    right: 0;
    top: 75px;
    width: 190px;
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.user-drop
.account_header
ul
.logout
a {
    border-top: 1px solid #eee;
    padding-top: 6px;
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.user-drop
.account_header
ul
.logout
a
img {
    margin-right: 10px;
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.user-drop
.account_header
ul
li {
    margin-top: 10px;
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.user-drop
.account_header
ul
li:hover
a {
    color: #bd0000 !important;
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.user-drop
.account_header
ul
li:first-child {
    margin-top: 0;
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.user-drop
.account_header
ul
li:first-child
a {
    align-items: center;
    border-bottom: 1px solid #eee;
    color: #232734;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding-bottom: 8px;
    text-align: right;
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.user-drop
.account_header
ul
li:last-child {
    margin-top: 16px;
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.user-drop
.account_header
ul
li
a {
    align-items: center;
    color: #4f525d;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin: 0;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header
.wrap-container
.wrap-content
.content-right
.header-tool
.btn-wrap
button {
    background: #bd0000;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}
.header .wrap-container .wrap-content .mega-menu {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    left: 50%;
    min-width: 400px;
    padding: 27px 32px;
    top: 76px;
    transform: translate(-50%);
    width: -moz-max-content;
    width: max-content;
}
.header .wrap-container .wrap-content .mega-menu .mega-menu-content {
    justify-content: flex-start;
}
.header .wrap-container .wrap-content .mega-menu .mega-menu-content .menu-col {
    margin-right: 50px;
}
.header
.wrap-container
.wrap-content
.mega-menu
.mega-menu-content
.menu-col:last-child {
    margin-right: 0;
}
.header
.wrap-container
.wrap-content
.mega-menu
.mega-menu-content
.menu-col
.menu-parent {
    margin-bottom: 20px;
}
.header
.wrap-container
.wrap-content
.mega-menu
.mega-menu-content
.menu-col
.menu-parent
.menu-parent-title {
    color: #232734;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.header
.wrap-container
.wrap-content
.mega-menu
.mega-menu-content
.menu-col
.menu-parent
.menu-icon {
    height: 12px;
    margin-left: 4px;
    width: 12px;
}
.header
.wrap-container
.wrap-content
.mega-menu
.mega-menu-content
.menu-col
.menu-children
li {
    color: #4f525d;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 7px;
}
.header
.wrap-container
.wrap-content
.mega-menu
.mega-menu-content
.menu-col
.menu-children
li:last-child {
    margin-bottom: 0;
}
.header
.wrap-container
.wrap-content
.mega-menu
.mega-menu-content
.menu-col
.menu-children
li:hover {
    color: #bd0000;
    cursor: pointer;
}
@media (max-width: 1440px) {
    .mega-menu {
        left: 20px !important;
    }
}
@keyframes animationLoading {
    0% {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
}
.footer {
    background: #fff top;
    border-top: 1px solid #eee;
    color: #000 !important;
    padding: 40px 0 0;
    width: 100%;
}
.footer .footer-content {
    padding: 0 20px;
}
.footer .footer-content .row > * {
    padding-left: 0;
    padding-right: 0;
}
.footer .footer-content .logo a img {
    height: 32px;
    width: 147px;
}
.footer .title {
    color: #232734;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}
.footer .title-menu {
    color: #232734;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    max-width: -moz-max-content;
    max-width: max-content;
}
.footer .title-menu .icon-collapse {
    font-size: 12px;
    margin-left: 8px;
    top: 5px;
}
.footer #subscribe-email {
    margin-top: 10px;
    max-width: 345px;
}
.footer #subscribe-email input {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    color: #4f525d;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: 32px;
    line-height: 16px;
    padding: 8px 12px;
}
.footer #subscribe-email input:focus {
    border-color: #bd0000;
    box-shadow: unset;
}
.footer #subscribe-email button {
    background: #bd0000;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    right: 0;
    top: 0;
    width: 70px;
}
.footer #subscribe-email .btn-subscribe:hover {
    background: #bd0000;
    color: #fff;
}
.footer #subscribe-email #email-error {
    display: none;
}
.footer .social {
    margin-top: 14px;
    width: 100%;
}
.footer .social .social-button {
    height: auto;
    margin-left: 10px;
    transition: all 0.5s;
}
.footer .social .social-button:first-child {
    margin-left: 0;
}
.footer .social .social-button img {
    height: 30px;
    width: 30px;
}
.footer .copyright {
    border-top: 1px solid #f5f5f5;
    color: #7b7d85;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 45px;
    padding: 10px 0;
}
.footer .copyright a {
    color: #4f525d;
}
.footer ul {
    margin-bottom: 0;
    padding-left: 0;
}
.footer ul li {
    font-size: 14px;
    line-height: 28px;
    margin: 10px 0;
}
.footer ul li:last-child {
    margin-bottom: 0;
}
.footer ul li a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}
.footer .special-menu {
    color: #7b7d85 !important;
    list-style-position: inside;
    list-style-type: disc;
}
.footer .special-menu li {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin: 5px 0;
}
.footer .special-menu li a {
    color: #7b7d85;
    margin-left: -5px;
}
.footer h4 {
    margin: 0;
    padding: 0;
}
.footer .list-menu .fone .icon-footer {
    color: #bd0000;
    font-size: 16px;
    font-weight: 550;
    min-width: 20px;
    width: 20px;
}
.footer .list-menu .fone .align-item-base {
    align-items: baseline !important;
}
.footer .certificate {
    margin-top: 10px;
}
.footer .certificate a {
    margin-right: 10px;
}
.footer .certificate a:last-child {
    margin-right: 0;
}
.footer .certificate .logo-sale {
    height: 49px;
    margin-left: -5px;
    width: 130px;
}
.footer .mt-30 {
    margin-top: 30px;
}
.footer .mt-62 {
    margin-top: 62px;
}
.footer .pl-20 {
    padding-left: 20px !important;
}
.footer .pr-20 {
    padding-right: 20px !important;
}
.footer .error {
    color: #bd0000;
    font-size: 12px;
}
@media (min-width: 1431px) and (max-width: 1440px) {
    #app {
        zoom: 0.95;
    }
}
@media (min-width: 1391px) and (max-width: 1430px) {
    #app {
        zoom: 0.93;
    }
}
@media (min-width: 1350px) and (max-width: 1390px) {
    #app {
        zoom: 0.9;
    }
}
@media (min-width: 1301px) and (max-width: 1351px) {
    #app {
        zoom: 0.87;
    }
}
@media (min-width: 1251px) and (max-width: 1300px) {
    #app {
        zoom: 0.83;
    }
}
@media (min-width: 0px) and (max-width: 1250px) {
    #app {
        zoom: 0.8;
    }
}
@media (min-width: 0px) and (max-width: 1440px) {
    .modal-create-address {
        width: 100% !important;
    }
    .modal-create-address .modal-create-address__backdrop {
        height: 150vh !important;
    }
    .modal-suggest {
        width: 110% !important;
    }
    .loading-payment,
    .modal-suggest {
        height: 110% !important;
    }
}
* {
    box-sizing: border-box;
    font-family: Manrope !important;
}
::-webkit-scrollbar {
    height: 10px;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #c0c4cc;
    border-radius: 8px;
}
#app {
    background-color: #f5f5f5;
}
#app #main {
    margin-top: 0px;
}
.background-white {
    background-color: #fff !important;
}
.text-link,
a {
    color: #000;
    text-decoration: none;
}
.text-link:hover,
a:hover {
    color: #bd0000;
    cursor: pointer;
    text-decoration: none;
}
ul {
    list-style: none outside;
}
.scroll {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2) !important;
}
.container {
    max-width: 1290px;
    padding: 0;
}
.toast {
    opacity: 1 !important;
}
#chat-widget-container {
    bottom: 10px !important;
    right: 7px !important;
    z-index: 9999 !important;
}
#live-chat-wrap {
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #2000f0;
    border-radius: 50%;
    bottom: 26px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 15px;
    width: 60px;
    z-index: 1;
}
#live-chat-wrap .box-icon {
    position: relative;
}
#live-chat-wrap .box-icon .icon-not-hover {
    display: block;
}
#live-chat-wrap .box-icon .icon-hover {
    display: none;
}
#live-chat-wrap .box-icon .icon-animation {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#live-chat-wrap .box-icon .icon-animation svg {
    margin: 0 2px 3px 1px;
}
#live-chat-wrap:hover .box-icon .icon-not-hover {
    display: none;
}
#live-chat-wrap:hover .box-icon .icon-hover {
    display: block;
}
#live-chat-wrap:hover .box-icon .icon-animation .icon-dot-1 {
    animation: icon-dot 0.5s;
}
#live-chat-wrap:hover .box-icon .icon-animation .icon-dot-2 {
    animation: icon-dot 0.5s 0.1s;
}
#live-chat-wrap:hover .box-icon .icon-animation .icon-dot-3 {
    animation: icon-dot 0.5s 0.2s;
}
@keyframes icon-dot {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
    to {
        transform: translateY(0);
    }
}
#live-chat-wrap .box-icon-animation .icon-not-hover {
    display: none !important;
}
#live-chat-wrap .box-icon-animation .icon-hover {
    display: block !important;
}
#live-chat-wrap .box-icon-animation .icon-animation .icon-dot-1 {
    animation: icon-dot-animation 0.6s linear 0.1s infinite !important;
}
#live-chat-wrap .box-icon-animation .icon-animation .icon-dot-2 {
    animation: icon-dot-animation 0.6s linear 0.2s infinite !important;
}
#live-chat-wrap .box-icon-animation .icon-animation .icon-dot-3 {
    animation: icon-dot-animation 0.6s linear 0.3s infinite !important;
}
@keyframes icon-dot-animation {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(3px);
    }
    to {
        transform: translate(0);
    }
}
.zalo-chat-widget {
    align-items: center;
    bottom: 100px;
    display: flex;
    height: 60px;
    justify-content: center;
    position: fixed;
    right: 15px;
    width: 60px;
    z-index: 9999;
}
.zalo-chat-widget img {
    height: 50px;
    width: 50px;
}
.hot-line-widget {
    bottom: 173px;
    height: 57px;
    position: fixed;
    right: 15px;
    width: 57px;
    z-index: 9999;
}
.hot-line-widget img {
    height: 100%;
    width: 100%;
}
#btn-back-to-top {
    align-items: center;
    background-color: #bd0000;
    border: #bd0000;
    border-radius: 8px;
    bottom: 25px;
    color: #fff;
    display: none;
    height: 40px;
    justify-content: center;
    left: 25px;
    padding: 0;
    position: fixed;
    width: 40px;
    z-index: 1000;
}
.error--message {
    color: #bd0000;
    font-size: 12px;
}
.modal-backdrop {
    background: rgba(0, 0, 0, 0.5) !important;
}
.stop-scrolling {
    overflow: hidden;
}
#reviewModal .modal-content,
#viewRating .modal-content {
    border: none !important;
    border-radius: 4px !important;
}
#reviewModal .btn-close-modal,
#viewRating .btn-close-modal {
    background: #d9d9d9;
    border: none;
    border-radius: 4px;
    color: #414554;
    font-size: 15px;
    font-weight: 600;
}
#reviewModal .btn-submit-form,
#viewRating .btn-submit-form {
    background: #bd0000;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
}
