.search-wrapper {
    background-color: #f5f5f5;
}
.filter-wrapper {
    background: #fff;
    border: 1px solid #ebebeb
}

.filter-wrapper .filter-box {
    min-height: 64px;
    padding-left: 22px;
    padding-right: 22px
}

.filter-wrapper .filter-box .filter-item {
    cursor: pointer
}

.filter-wrapper .filter-box .filter-item .icon {
    height: 12px;
    margin-right: 8px;
    width: 12px
}

.filter-wrapper .filter-box .filter-item span {
    color: #4f525d;
    font-size: 16px;
    font-weight: 700
}

.filter-wrapper .filter-box .other-item .title-child {
    color: #4f525d;
    font-size: 14px;
    font-weight: 700
}

.filter-wrapper .filter-box .other-item .sort-box .sort-item {
    background-position: right 6px;
    background-size: 10px 10px;
    border: none;
    color: #4f525d;
    font-size: 14px;
    padding: 0 22px 0 4px;
    width: -moz-max-content;
    width: max-content
}

.filter-wrapper .filter-box .other-item .sort-box .sort-item:hover {
    cursor: pointer
}

.filter-wrapper .filter-box .other-item .sort-box .sort-item:focus {
    box-shadow: none
}

.filter-wrapper .filter-box .other-item .layout-box {
    border-left: 1px solid #d9d9d9;
    margin-left: 24px;
    padding-left: 24px
}

.filter-wrapper .filter-box .other-item .layout-box span {
    margin-right: 5px
}

.filter-wrapper .filter-box .other-item .layout-box .icon {
    color: #d3d4d6;
    cursor: pointer;
    height: 16px;
    margin: 0 5px;
    width: 16px
}

.filter-wrapper .filter-box .other-item .layout-box .icon-active {
    color: #4f525d
}

.filter-wrapper .filter-option-box {
    border-top: 1px solid #ebebeb;
    display: none;
    padding: 14px 22px
}

.filter-wrapper .filter-option-box .option-box {
    min-height: 71px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item {
    margin: 0 52px 0 0
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item:last-child {
    margin-left: 4px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .label-option {
    color: #232734;
    font-size: 16px;
    font-weight: 700
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .round-box {
    max-height: 289px;
    overflow: auto;
    width: 205px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .round-box .round-item {
    border: 1px solid #efefef;
    border-radius: 50%;
    height: 21px;
    margin-right: 8px;
    margin-top: 8px;
    width: 21px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .round-box .round-item.active {
    border: 2px solid #fff;
    outline: 1px solid #bd0000
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .square-box {
    max-width: 230px;
    min-width: 155px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .square-box .square-item {
    background: #fff;
    border: 1px solid #d3d4d6;
    border-radius: 4px;
    color: #232734;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    line-height: 19px;
    margin-right: 8px;
    margin-top: 8px;
    min-width: 30px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .square-box .square-item.active {
    background: #bd0000;
    color: #fff
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box {
    margin-top: 28px;
    position: relative;
    width: 310px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .slider-track {
    background: #ebebeb;
    border-radius: 5px;
    bottom: 0;
    height: 6px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .range-item {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    bottom: 0;
    margin: auto;
    outline: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .range-item::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 6px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .range-item::-moz-range-track {
    -moz-appearance: none;
    height: 6px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .range-item::-ms-track {
    -webkit-appearance: none;
    height: 6px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .range-item::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #bd0000;
    border-radius: 50%;
    cursor: pointer;
    height: 13px;
    margin-top: -4px;
    pointer-events: auto;
    width: 13px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .range-item::-moz-range-thumb {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #bd0000;
    border-radius: 50%;
    cursor: pointer;
    height: 13px;
    pointer-events: auto;
    width: 13px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .range-item::-ms-thumb {
    appearance: none;
    background: #fff;
    border: 1px solid #bd0000;
    border-radius: 50%;
    cursor: pointer;
    height: 13px;
    pointer-events: auto;
    width: 13px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .tooltip-box {
    left: 0;
    position: absolute;
    top: -27px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .tooltip-box .tooltip-content {
    background: #232734;
    border-radius: 3px;
    height: 15px;
    padding-left: 3px;
    padding-right: 3px;
    position: relative
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .tooltip-box .tooltip-content:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #232734;
    bottom: -3px;
    content: "";
    height: 0;
    left: calc(50% - 5px);
    position: absolute;
    width: 0
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .tooltip-box .tooltip-content span {
    color: #fff;
    font-size: 10px;
    font-weight: 700
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .range-values {
    position: absolute;
    top: 6px;
    width: 100%
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .range-values span {
    color: #232734;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.filter-wrapper .filter-option-box .option-box .filter-option .filter-option-item .range-box .range-values span:last-child {
    margin-right: -16px
}

.filter-wrapper .filter-option-box .option-box .filter-action button {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    height: 26px;
    line-height: 16px;
    margin-left: 5px;
    width: 90px
}

.filter-wrapper .filter-option-box .option-box .filter-action button.btn-accept {
    background: #bd0000
}

.filter-wrapper .filter-option-box .option-box .filter-action button.btn-reset {
    background: #7b7d85
}

.loading-product {
    padding: 40px 0
}

.loading-product p {
    margin: 0;
    text-align: center
}

.loading-product .icon-loading-product {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: animationLoading;
    animation-timing-function: linear;
    font-size: 20px
}

.list-product {
    background: #fff;
    padding: 0 25px 30px
}

.list-product .product-item {
    padding: 0 22px
}

.product {
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    height: 100%;
    margin: 0 auto;
    max-width: 276px;
    width: 100%
}

.product>img {
    margin-bottom: 40px;
    width: 170px
}

.product .product-img {
    margin-bottom: 10px;
    overflow: hidden;
    padding-top: 101%;
    position: relative
}

.product .product-img img {
    bottom: 0;
    height: 100%!important;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .5s;
    width: 100%
}

.product .product-img:hover .button-buy-now {
    display: block
}

.product .product-img .product-sold-info {
    align-items: center;
    display: flex;
    left: 8px;
    position: absolute;
    top: 10px;
    width: auto;
    z-index: 2
}

.product .product-img .product-sold-info .product-favourite {
    cursor: pointer;
    font-size: 18px
}

.product .product-img .product-sold-info .liked {
    color: #bd0000
}

.product .product-img .product-sold-info img {
    height: 16px!important;
    -o-object-fit: cover;
    object-fit: cover;
    width: 17px
}

.product .product-img .product-sold-info .product-review {
    display: flex
}

.product .product-img .product-sold-info .product-review span {
    line-height: 24px;
    margin-left: 2px
}

.product .product-img .product-sold-info .product-review i {
    color: #fac100;
    font-size: 11px;
    line-height: 24px
}

.product .product-img .product-sold-info .product-sold {
    display: flex;
    margin-left: 3px
}

.product .product-img .product-sold-info .product-sold .line {
    background: #fff;
    height: 11px;
    margin: auto 3px auto 0;
    padding: 0;
    width: 1px
}

.product .product-img .product-sold-info .product-sold .number-product-sold {
    display: flex;
    margin-left: 3px
}

.product .product-img .product-sale-info {
    position: absolute;
    right: 13px;
    top: 0
}

.product .product-img .product-sale-info .discount-container {
    background: #bd0000;
    box-sizing: border-box;
    font-weight: 700;
    height: 45px;
    padding: 10px 2px 3px;
    position: relative;
    width: 44px
}

.product .product-img .product-sale-info .discount-container .discount-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    font-weight: 400;
    line-height: .8125rem;
    position: relative;
    text-align: center
}

.product .product-img .product-sale-info .discount-container .discount-content .percent {
    font-size: 10px;
    font-weight: 500;
    line-height: 9px;
    text-align: center
}

.product .product-img .product-sale-info .discount-container .discount-content .discount-text {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 4px
}

.product .product-img .product-sale-info .bookmark {
    border: 22px solid #bd0000;
    border-bottom: 8px solid transparent;
    margin-top: -21px
}

.product .product-img .over-layer {
    background: linear-gradient(-45deg,rgba(6,190,244,.75),rgba(45,112,253,.6));
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .5s linear;
    width: 100%
}

.product .product-img .over-layer i {
    color: #fff;
    display: block;
    font-size: 25px;
    position: relative;
    text-align: center;
    top: 45%
}

.product .product-img .bundle-deal {
    background: #bd0000;
    border: 1px solid #bd0000;
    border-radius: 4px;
    bottom: 5px;
    box-shadow: 0 0 5px -4px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    left: 10px;
    line-height: 16px;
    padding: 4px 8px;
    position: absolute
}

.product .product-img .product-size {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    transition: all .5s linear;
    width: 100%
}

.product .product-img .product-size input {
    display: inline-block;
    width: auto
}

.product .product-img .product-size .product-popup-select-size {
    align-items: center;
    background: rgba(0,0,0,.6);
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 52px;
    padding: 0 3px 0 10px;
    width: 100%
}

.product .product-img .product-size .product-popup-select-size .select-size-content {
    display: flex
}

.product .product-img .product-size .product-popup-select-size .select-size-content .size-item {
    -webkit-font-smoothing: antialiased;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    margin: 0 6px 0 0;
    min-width: 34px;
    position: relative;
    width: calc(25% - 7px)
}

.product .product-img .product-size .product-popup-select-size .select-size-content .size-item .img {
    display: block
}

.product .product-img .product-size .product-popup-select-size .select-size-content .size-item .img-hover {
    display: none
}

.product .product-img .product-size .product-popup-select-size .select-size-content .size-item input {
    background: 0 0;
    display: inline;
    height: 40px;
    margin: 0;
    opacity: 0;
    outline: none;
    padding: 0;
    position: absolute;
    width: 100%
}

.product .product-img .product-size .product-popup-select-size .select-size-content .size-item input:hover {
    cursor: pointer!important
}

.product .product-img .product-size .product-popup-select-size .select-size-content .size-item label {
    align-items: center;
    border-radius: 4px;
    color: #000;
    display: flex!important;
    float: left;
    font-size: 16px;
    height: 32px!important;
    justify-content: center;
    line-height: 26px;
    margin: 0;
    min-width: 100%;
    padding: 0;
    text-align: center;
    white-space: nowrap
}

.product .product-img .product-size .product-popup-select-size .select-size-content .size-item:hover {
    background-color: #bd0000
}

.product .product-img .product-size .product-popup-select-size .select-size-content .size-item:hover label {
    color: #fff
}

.product .product-info-content {
    background: #fff;
    padding: 0 13px 2px 12px
}

.product .product-info-content .product-title {
    margin: 0
}

.product .product-info-content .product-title a {
    color: #232734;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    transition: all .3s ease 0s;
    width: calc(100% - 5px)
}

.product .product-info-content .product-title a .text-wrap {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #232734;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 500;
    height: 44px;
    line-height: 22px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis
}

.product .product-info-content .product-price {
    line-height: 20px;
    margin-bottom: 8px
}

.product .product-info-content .product-price .origin-price {
    color: #7b7d85;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    text-decoration: line-through
}

.product .product-info-content .product-price .sale-price {
    color: #bd0000;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 8px;
    margin-right: 10px;
    text-align: left
}

.product .product-info-content .sold {
    align-items: center;
    display: flex;
    margin-bottom: 10px
}

.product .product-info-content .sold .sold-info {
    align-items: center;
    background: #fac406;
    border-radius: 20px;
    color: #fff;
    display: flex;
    height: 16px;
    justify-content: center;
    width: 41px
}

.product .product-info-content .sold .sold-info img {
    height: 10px;
    margin-right: 4px;
    width: 10px
}

.product .product-info-content .sold .sold-info span {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px
}

.product .product-info-content .sold .sold-count {
    color: #7b7d85;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    margin-left: 8px
}

.product .product-info-content .product-color {
    display: flex;
    margin-bottom: 14px
}

.product .product-info-content .product-color .color-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1px;
    width: 100%
}

.product .product-info-content .product-color .color-wrap::-webkit-scrollbar {
    height: 0!important
}

.product .product-info-content .product-color .color-wrap .item-color {
    border-radius: 50%;
    box-shadow: 0 0 2px 0;
    cursor: pointer;
    height: 12px;
    margin-right: 7px;
    margin-top: 5px;
    width: 12px
}

.product .product-info-content .product-color .color-wrap .item-image {
    border-radius: 50%;
    cursor: pointer;
    margin-right: 7px;
    margin-top: 5px
}

.product .product-info-content .product-color .color-wrap .item-image img {
    border-radius: 50%;
    display: block;
    height: 13px;
    width: 13px
}

.product .product-info-content .product-color .color-wrap .active-item {
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #bd0000;
    outline: none
}

.product .product-info-content .product-color .sw-group {
    display: flex;
    height: 12px;
    margin-bottom: 10px!important;
    padding: 0
}

.product .product-info-content .product-color .sw-group li {
    display: inline-block;
    margin-right: 5px;
    padding: 0
}

.product .product-info-content .product-color .sw-group li a {
    display: block;
    max-width: 12px;
    overflow: hidden
}

.product .product-info-content .product-color .sw-group li a img {
    border: 1px solid #efefef;
    border-radius: 50%;
    height: 12px;
    -o-object-fit: none;
    object-fit: none;
    width: 12px
}

.product .product-info-content .product-color .sw-group li a .active,.product .product-info-content .product-color .sw-group li a img:hover {
    border-color: #bd0000
}

.product:hover .product-img img {
    transform: scale(1.1)
}

.product:hover .over-layer {
    opacity: 1;
    text-decoration: none
}

.hide {
    display: none!important
}

.show {
    display: block!important
}

.product__recent {
    margin-bottom: 20px
}

.product__recent .pdr__title {
    padding: 26px 28px 30px
}

.product__recent .pdr__title .pdr__label {
    align-items: center;
    color: #4f525d;
    display: flex;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px
}

.product__recent .pdr__main {
    padding: 0 25px 30px
}

.product__recent .pdr__main .pdr__box .pdr__item {
    padding: 0 22px
}

.search-wrapper {
    padding: 17px 0px 0px;
}

.search-wrapper .search-title {
    color: #4f525d;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 0px !important;
}

.search-wrapper .product-result {
    /*padding-bottom: 60px;*/
    /*padding-top: 25px*/
}

.search-wrapper .product-result .product-wrapper {
    margin-left: -20px;
    margin-right: -20px
}

.search-wrapper .product-result .product-wrapper .product-item {
    margin-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px
}

.search-wrapper .product-result .product-wrapper .cart-empty {
    display: flex;
    justify-content: center;
    margin: 20px 0
}

.search-wrapper .product-result .product-wrapper .cart-empty .img-wrap {
    align-content: center;
    align-items: center;
    color: #232734;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    height: 50vh;
    justify-content: center;
    max-width: 200px;
    width: 100%
}

.search-wrapper .product-result .product-wrapper .cart-empty .img-wrap img {
    width: 100%
}

.search-wrapper .product-result .product-wrapper .cart-empty p {
    white-space: nowrap
}

.search-wrapper .product-result .product-wrapper .empty-data .result-empty {
    margin: 0 auto
}

.search-wrapper .product-result .product-wrapper .empty-data .result-empty img {
    max-width: 170px;
    width: 100%
}

.search-wrapper .product-result .product-wrapper .empty-data .result-empty p {
    color: #232734;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 50px;
    text-align: center
}

.search-wrapper .product-result .show-more {
    margin-bottom: 36px
}

.search-wrapper .product-result .show-more button {
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #4f525d;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    padding: 0;
    width: 110px
}

.search-wrapper .product-result .show-more button div {
    height: 100%;
    line-height: 20px;
    margin: 5px 10px
}

.search-wrapper .product-result .show-more button img {
    height: 12px;
    width: 12px
}

.search-wrapper .product-result .show-more button .icon-loading {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: animationLoading;
    animation-timing-function: linear;
    display: none
}

@keyframes animationLoading {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@media only screen and (min-width: 1280px) and (max-width:1440px) {
    .search-wrapper .box-filter,.search-wrapper .search-title {
        margin-left:20px;
        margin-right: 20px
    }

    .search-wrapper .product-result .product-wrapper {
        margin-left: 0;
        margin-right: 0
    }

    .search-wrapper .product-result .show-more {
        margin-bottom: 36px
    }

    .search-wrapper .product-result .show-more button {
        background: #fff;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        color: #4f525d;
        font-size: 14px;
        font-weight: 500;
        height: 30px;
        width: 110px
    }
}
