


.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px; /* Đặt khoảng cách giữa nút và chữ */
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px; /* Đường kính nút */
  width: 20px; /* Đường kính nút */
  background-color: #fff; /* Màu nền */
  border: 1px solid #ccc; /* Viền */
  border-radius: 50%; /* Biến nút thành hình tròn */
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #007bff; /* Màu nền khi được chọn */
  border: 1px solid #007bff; /* Viền khi được chọn */
}

