.search-btn {
    cursor: pointer;
    background: #bd0000;
    font-size: 15px;
    font-weight: 700;
    width: 110px;
    height: 33px;
    border-radius: 3px;
    border: 0;
    margin-left: 10px;
    color: white;
    -webkit-appearance: button;
    font-family: Manrope !important;
}

.avatar-hover {
    font-weight: 600;
    color: #333333;
}

.avatar-hover:hover {
    color: #bd0000;
}

.img-avatar {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    -o-object-fit: cover;
    object-fit: cover;
}

.search-btn:hover {
    background: #cc1111;
}

.search-btn:active {
    background: #bd0000;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 1;
    border: 1px solid #bd0000;
    border-radius: 4px;
    content: "";
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-header-view button:hover {
    color: #bd0000;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    color: #fff;
    background: #bd0000;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-end-near-hover::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-start-near-hover::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
    position: absolute;
    top: 50%;
    z-index: 0;
    height: 24px;
    border-top: 1px dashed #ff7c7c;
    border-bottom: 1px dashed #ff7c7c;
    transform: translateY(-50%);
    transition: all 0.3s;
    content: "";
}

tr>:where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover:last-child::after, tr>:where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:last-child::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover-edge-end.ant-picker-cell-range-hover-edge-end-near-range::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-end:not(.ant-picker-cell-range-hover-edge-end-near-range)::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end::after {
    inset-inline-end: 6px;
    border-inline-end: 1px dashed #ff7c7c;
    border-start-end-radius: 4px;
    border-end-end-radius: 4px;
}

tr>:where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover:first-child::after, tr>:where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:first-child::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-edge-start.ant-picker-cell-range-hover-edge-start-near-range::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover-edge-start-near-range)::after, :where(.css-dev-only-do-not-override-2i2tap).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start::after {
    inset-inline-start: 6px;
    border-inline-start: 1px dashed #ff7c7c;
    border-start-start-radius: 4px;
    border-end-start-radius: 4px;
}
:where(.css-dev-only-do-not-override-2i2tap).ant-select .ant-select-arrow {
    display: flex;
    align-items: center;
    color: #333333;
    font-style: normal;
    line-height: 1;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    inset-inline-start: auto;
    inset-inline-end: 11px;
    height: 12px;
    margin-top: -6px;
    font-size: 12px;
    pointer-events: none;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    background-color: #ffe6e6;
}